.task-card {
    border: 1px solid rgb(212, 201, 99);
    width: 150px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.card-holder {
    border: 1px solid black;
    width: 190px;
    height: 600px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    overflow-y: auto;
    float: left;
}
.assignee {
    display: inline-block;
    border: 1px solid black;
    width: 190px;
    height: 551px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 0 auto;
    

}
.assignee-group {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid gray;
    width: 1194px;
    height: 600px;
    border-radius: 5px;
    margin: 5px;
    overflow-x: scroll;
}